/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: var(--side-nav-bg-color);
    color: var(--dark-text-color);
    transition: all 0.3s;
    width: var(--sidebar-width);
    height: 100vh;
}

#logo-holder img {
    object-fit: contain;
    width: calc(100% - 40px);
    height: var(--logo-height);
    margin-top: var(--logo-top-margin);
    margin-left: var(--logo-left-margin);
}