/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: var(--side-nav-bg-color);
    color: var(--dark-text-color);
    transition: all 0.3s;
    width: var(--sidebar-width);
    height: 100vh;
}

@media(max-width: 500px) {
    #sidebar {
        width: var(--sidebar-small-width);
    }
}

#logo-holder img {
    object-fit: contain;
    width: calc(100% - 35px);
    height: var(--logo-height);
    margin-top: var(--logo-top-margin);
    margin-left: var(--logo-left-margin);
    margin-bottom: var(--app-margin-6)!important;

}

.item-holder-list li {
    text-align: center;
    margin-top: var(--app-margin-3);
    color: var(--icon-dark-color);
    font-size: var(--icon-size-standard);
    transition: all 0.2s;
}

.item-holder-list li fa-icon:hover {
    color: var(--accent-color);
    cursor: pointer;
}


.section-title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-small);
    font-weight: bold;
}