<div id="notifications" class="notifications-collapsed">
    <div class="card-title">
        Notifications
    </div>
    <div class="mt-4">
        <div>
            <fa-icon class="mr-3" [icon]="['fad', 'credit-card']"></fa-icon>
            <span>New bill</span>
        </div>
        <hr>
        <div>
            <fa-icon class="mr-3" [icon]="['fad', 'outlet']"></fa-icon>
            <span>Defice offline</span>
        </div>
        <hr>
    </div>
    <div class="mt-4">
        <div class="card-title float-right">
            Clear all
        </div> 
    </div>
</div>